.stories-visual {
  max-width: 2200px;
  margin: 0 auto;
}
.breadcrumb {
  background: none;
  margin: 38px 0 94px;
  padding: 0;
}
.breadcrumb li {
  padding-right: 14px;
  position: relative;
  font-size: 16px;
  font-weight: 300;
}
.breadcrumb li:before {
  content: '/';
  position: absolute;
  left: -10px;
  top: 0;
}
.breadcrumb li:first-child:before {
  display: none;
}
.breadcrumb li a {
  font-weight: 500;
}
.align-center {
  margin: 0 auto;
  text-align: center;
}
.stories-header h1 {
  margin: 0 0 50px;
  position: relative;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 0 0 20px;
}

.stories-header h1:before {
  content: '';
  width: 82px;
  height: 2px;
  max-width: 96%;
  background: #f9d600;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}
.stories-content p {
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
}
.story-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 85px 0;
}
.story-img img {
  box-shadow: 0px 9px 9px rgba(0,0,0,0.5);
  max-width: 100%;
}
.align-left {
  text-align: left;
}
.stories-content-holder p {
  font-style: 22px;
  line-height: 35px;
}
.highligted-text {
  margin: 102px 0;
  font-size: 75px;
  line-height: 72px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'khand';
}
.highligted-text span {
  background: #161515;
  color: #fff;
  padding: 2px 8px;
}
.back-stories {
  margin: 85px 0 90px;
  padding-left: 40px;
}
.back-stories a {
  font-family: 'palanquin';
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;

}

@media (max-width: 992px) {
  .breadcrumb {
    margin: 30px 0 50px;
  }
  .stories-header h1 {
    margin: 0 0 30px;
    padding: 0 0 15px;
  }
  .highligted-text {
    margin: 50px 0;
    font-size: 50px;
    line-height: 48px;
    letter-spacing: 1px;
  }
  .back-stories {
    margin: 50px 0;
  }
}
@media (max-width: 767px) {
  .stories-content-holder {
    padding: 0 20px;
  }
  .story-img {
    margin: 25px 0;
  }
  .highligted-text {
    font-size: 40px;
    line-height: 42px;
    margin: 25px 0;
  }
  .back-stories {
    margin: 20px 0 35px;
  }
}

.story-holder {
  margin-top: 92px;
}
.story-holder h2 {
  font-size: 33px;
  font-family: 'khand';
  line-height: 34px;
  margin-bottom: 20px;
}
.story-holder p {
  font-family: 'palanquin';
  font-weight: 300;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 30px;
}
.story-holder img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .story-holder img {
    width: 100%;
    margin-bottom: 30px;
    display: block;
  }
  .story-holder {
    margin-top: 50px;
  }
}