/* stylelint-disable */
body {
  min-width: 320px;
  font-size: 16px;
  color: #666;
  line-height: 1.4375;
  background: #000;
}

/** @define anchor **/
a {
  transition: color 0.4s ease , background 0.4s ease , opacity 0.4s ease , visibility 0.4s ease;
  outline: none;
  color: #666;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.img {
  @include img-style;
}

.btn-primary {
  @include fontsize(14px, 40px);
  width: 182px;
  height: 40px;
  position: relative;
  font-weight: 400;
  background: none;
  padding: 0 5px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background: #fff;
    border-color: #fff;
    color: #555;
    outline: none !important;
    box-shadow: none !important;
  }
}

.mobile-hidden {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.desktop-hidden {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.h1 , h1 {
  line-height: 75px;

  @media (max-width: 1199.98px) {
    font-size: 55px;
    line-height: 57px;
  }

  @include media-breakpoint-down(md) {
    font-size: 50px;
    line-height: 52px;
  }

  @media (max-width: 359.98px) {
    font-size: 40px;
    line-height: 45px;    
  }
}

.h2 , h2 {
  line-height: 58px;

  @media (max-width: 1199.98px) {
    font-size: 32px;
    line-height: 36px;
  }

  @media (max-width: 359.98px) {
    font-size: 26px;
    line-height: 32px;    
  }
}

.h3 , h3 {
  line-height: 34px;

  @media (max-width: 1199.98px) {
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: 991.98px) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (max-width: 359.98px) {
    font-size: 18px;
    line-height: 24px;    
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.main {
  position: relative;
}

.menu-active {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
}

.bg-stretch {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}


.slides-wrap {
  position: relative;
}

.banner-section {
  position: relative;
  overflow: hidden;

  .container {
    height: 100%;
  }

  .row {
    position: static;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
  }

  .text-holder {
    text-align: center;
    color: #555;

    h1 {
      color: #fff;
      margin: 0;
    }
  }

  &.section01 {
    height: 100vh;

    .image {
      img {
        @include img-style;
      }
    }

    .image-overlay {
      width: 50%;
      left: auto !important;

      img {
        @include img-style;
        margin-left: 0 !important;
      }
    }
  }

  &.section02 {
    height: 1103px;
    background: #141414;

    @include media-breakpoint-down(sm) {
      height: 100vh;
    }

    &:before {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      background: url('../img/bg-section.png') no-repeat;
      width: 1743px;
      height: 1101px;
      pointer-events: none;
    }

    .images-holder {
      position: relative;
      height: 100%;

      .image {
        position: absolute;
        left: -117px;
        top: -160px;
        z-index: 3;
        
        @media (max-width: 1199.98px) {
          left: -50px;
        }

        @include media-breakpoint-down(sm) {
          width: 250px;
          left: -30px;
        }

        img {
          @include media-breakpoint-down(sm) {
            width: 100%;
            height: auto;
            display: block;
          }
        }

        &.add {
          left: auto;
          right: 181px;
          top: -151px;
          z-index: 2;

          @media (max-width: 1199.98px) {
            right: 50px;
          }

          @include media-breakpoint-down(sm) {
            width: 210px;
            right: 0;
          }
        }
      }
    }

    .text-holder {
      padding: 0 0 142px 34px;

      @include media-breakpoint-down(md) {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding: 50px 0 0;
        z-index: 9;
      }
    }
  }

  &.section03 {
    height: 100vh;

    .text-holder {
      max-width: 530px;
      padding: 0 0 94px 86px;

      @include media-breakpoint-down(md) {
        padding: 0 15px;
        max-width: 350px;
        margin: 0 auto;
      }

      .h2 {
        margin: 0;
        font-weight: 700;
      }
    }
  }

  &.section04 {
    height: 100vh;

    .text-holder {
      max-width: 500px;
      padding-left: 116px;

      @include media-breakpoint-down(md) {
        padding: 0 15px;
        max-width: 350px;
        margin: 0 auto;
      }

      .h2 {
        margin: 0;
        font-weight: 700;
      }
    }
  }

  &.section05 {
    height: 100vh;

    .text-holder {
      max-width: 520px;
      padding-left: 110px;

      @include media-breakpoint-down(md) {
        padding: 0 15px;
        max-width: 350px;
        margin: 0 auto;
      }

      .h2 {
        margin: 0;
        font-weight: 700;
      }
    }
  }

  &.section06 {
    height: 100vh;
    text-align: center;
    position: relative;

    .h2, h2,
    .h1, h1 {
      margin: 0;
    }

    .h1 {
      @media (max-width: 1199.98px) {
        font-size: 50px;
        line-height: 54px;
      }
    }

    .bar {
      position: absolute;
      left: -60px;
      top: 50%;
      width: 1891px;
      height: 117px;
      margin-top: -56px;
      background: url('../img/bg-separator2.png') no-repeat;
      z-index: -1;
    }

    .row,
    .container,
    .col-lg-6 {
      position: static;
    }

    .text-wrap {
      margin-bottom: 122px;

      @media (max-width: 1199.98px) {
        padding-top: 170px;
      }

      @include media-breakpoint-down(md) {
        padding-top: 70px;
      }


      .h2 {
        color: #555;
      }

      .h1 {
        color: #fff;
        margin: 0;

        @include media-breakpoint-down(sm) {
          font-size: 34px;
          line-height: 40px;
        }
      }

      &.add {
        margin: 0;
        padding: 0;

        .h1 {
          margin: 0 0 35px;

          @media (max-width: 1199.98px) {
            margin: 0 0 20px;
          }
        }
      }

      p {
        color: #444;
        font-size: 20px;
        line-height: 36px;

        @include media-breakpoint-down(sm) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

.tagline {
  position: relative;
  background: url('../img/bg-tagline.jpg') no-repeat;
  background-size: cover;
  padding: 41px 0;
  font-size: 14px;
  line-height: 18px;
  color: #000;

  @media (max-width: 1199.98px) {
    font-size: 12px;
  }

  .close {
    position: absolute;
    right: 50px;
    top: 50px;
    text-shadow: none;
    width: 28px;
    height: 28px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #999;
    background: #343434;
    border-radius: 100%;

    @media (max-width: 1199.98px) {
      right: 20px;
    }

    @include media-breakpoint-down(sm) {
      top: 10px;
    }

    &:hover {
      color: #fff !important;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .description {
    margin-right: 96px;
    margin-left: 27px;
    letter-spacing: 0.8px;

    @media (max-width: 1199.98px) {
      margin-right: 30px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 0 30px;
    }
  }

  .h3 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0 0 9px;
  }

  p {
    margin: 0;
  }
}

.about-area {
  min-height: 2480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 529px 0;
  position: relative;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    padding: 250px 0;
    min-height: 1900px;
  }

  @include media-breakpoint-down(md) {
    min-height: 1600px;
  }

  @include media-breakpoint-down(sm) {
    min-height: inherit;
    padding-bottom: 540px;
    padding-top: 100px;
  }

  h2 {
    color: #fff;
    margin: 0 0 31px;
  }

  .h1 {
    display: block;
  }

  .description {
    padding-right: 26px;
    margin: 0 0 303px;
    padding-left: 17px;
    font-size: 20px;
    line-height: 37px;

    @media (max-width: 1199.98px) {
      margin: 0 0 150px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 26px;
      max-width: 70%;
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      margin-bottom: 50px;
    }
  }

  .about_text {
    text-align: center;
    padding: 0 50px;
    color: #999;
    font-size: 20px;
    line-height: 35px;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 26px;
      padding: 0 15px;
      max-width: 320px;
      margin: 0 auto;
    }

    @media (max-width: 359.98px) {
      max-width: 100%;
      font-size: 14px;
    }

    .title {
      display: block;
      color: #fff;
      margin: 0;
    }

    h2 {
      color: #b7111f;
      font-size: 150px;
      line-height: 154px;
      margin: 0 0 10px;

      @media (max-width: 1199.98px) {
        font-size: 100px;
        line-height: 103px;
      }

      @include media-breakpoint-down(md) {
        font-size: 60px;
        line-height: 68px;
      }
    }
  }

  .urban-text {
    position: absolute;
    right: 0;
    top: 62px;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    .holder {
      transform: rotate(90deg);
      transform-origin: 50% 265%;
      font-size: 565px;
      line-height: 400px;
      color: #fff;
      font-weight: 700;
      letter-spacing: -20px;
      font-family: $maven-font;

      @media (max-width: 1199.98px) {
        font-size: 300px;
        line-height: 200px;
      }
    }
  }
}

.info-section {
  padding: 154px 0 184px;
  position: relative;

  @media (max-width: 1199.98px) {
    padding: 154px 0 50px;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: url('../img/image6.jpg') no-repeat;
    height: 1353px;
    background-size: cover;
    z-index: -1;
  }

  .image-area {
    position: relative;
    text-align: right;

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    .holder {
      position: relative;
      margin-right: -30px;

      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }

  .h2 {
    color: #b7111f;
  }

  .h1 {
    color: #fff;
    margin: 0 0 60px;

    @include media-breakpoint-down(md) {
      margin: 0 0 30px;
    }
  }

  .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .description {
    font-size: 20px;
    line-height: 37px;
    padding: 120px 70px 0 58px;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 26px;
      padding: 60px 30px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px 15px 0;
    }

    p {
      margin: 0 0 40px;

      &:last-child {
        color: #fff;
      }
    }
  }

  .text-group {
    padding: 209px 0 0;
    text-align: center;

    @media (max-width: 1199.98px) {
      padding: 100px 0 0;
    }

    h2 {
      color: #fff;

      @include media-breakpoint-down(sm) {
        font-size: 28px;
      }

      span {
        display: block;
      }
    }

    .h1 {
      @include media-breakpoint-down(sm) {
        font-size: 36px;
      }
    }
  }
}

.quote-area {
  position: relative;
  text-align: center;
  color: #fff;

  .image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 148px 0 0;

    @media (max-width: 1199.98px) {
      padding: 80px 0 0;
    }

    @include media-breakpoint-down(sm) {
      position: static;
    }
  }

  .holder {
    max-width: 660px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 36px;

    @media (max-width: 1199.98px) {
      font-size: 15px;
      line-height: 24px;
      max-width: 100%;
    }
  }

  h2 {
    margin: 0 0 32px;
  }

  p {
    margin: 0 0 20px;
  }

  .sign-image {
    padding: 7px 0 0;
    width: 188px;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .meta {
    width: 188px;
    margin: -15px auto 0;
    text-align: left;
    padding-left: 78px;
    font-size: 12px;
    line-height: 15px;

    .title {
      display: block;
    }
  }
}

.steps-area {
  position: relative;
  background: url('../img/image8.jpg') no-repeat 50% 0 #141414;
  padding: 340px 0;

  @media (max-width: 1199.98px) {
    padding: 150px 0;
  }

  @include media-breakpoint-down(md) {
    padding: 150px 0 50px;
  }

  .steps-list {
    margin: 0 0 167px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    line-height: 33px;
    color: #fff;
    font-family: $philosopher-font;
    padding-left: 107px;

    @media (max-width: 1199.98px) {
      font-size: 20px;
      line-height: 24px;
      padding-left: 50px;
      margin: 0 0 50px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 30px;
      display: block;
    }

    li {
      margin: 0 60px 0 0;

      @include media-breakpoint-down(sm) {
        margin: 0 0 30px;
      }
    }

    .image {
      background: #141414;
      border: 1px solid #fff;
      width: 248px;
      height: 151px;
      margin: 0 0 20px;

      @media (max-width: 1199.98px) {
        width: 150px;
        height: 100px;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 150px;
      }
    }
  }

  h2 {
    text-align: center;
    margin: 0 0 50px;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 26px;
    }
  }

  .image-holder {
    position: relative;
    background: #e2e4e3;
    text-align: center;
    padding: 24px 79px 75px;
    margin: 0 -119px 26px 90px;

    @media (max-width: 1199.98px) {
      margin: 0 0 25px 15px;
      padding: 25px 40px 40px;
    }

    @media (max-width: 767.98px) {
      margin: 0 0 15px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .text {
      font-size: 14px;

      @media (max-width: 359.98px) {
        font-size: 11px;
      }
    }
  }

  .text {
    display: block;
    margin: 0 0 54px;

    @include media-breakpoint-down(sm) {
      margin: 0 0 30px;
    }
  }

  .holder {
    padding: 0 90px 0 150px;
    margin: -16px 0 0;
    font-size: 14px;

    @media (max-width: 1199.98px) {
      padding: 0 25px;
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
      padding: 0 15px;
    }

    @media (max-width: 359.98px) {
      padding: 0;
    }

    br {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    h2 {
      text-align: left;
      margin: 0 0 10px;
      line-height: 51px;
      letter-spacing: -1px;

      @media (max-width: 1199.98px) {
        line-height: 34px;
      }
    }

    p {
      margin: 0 0 22px;
    }
  }

  .form-list {

    li {
      margin: 0 0 26px;
    }

    label {
      display: block;
      font-size: 14px;
      line-height: 18px;
      color: #666;
    }

    .form-field {
      border-radius: 0;
      color: #666666;
      font-size: 16px;
      line-height: 30px;
      height: 50px;
      padding: 10px 20px;
      border: 1px solid #666;
      background: #222;
      width: 100%;
      color: #fff;
    }
  }

  .submit {
    width: 100%;
    background: #780b14;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    cursor: pointer;
    border: none;
    display: block;
    margin: 0 0 26px;
    transition: all 0.4s ease;

    &:hover {
      background: #4a080e;
    }
  }

  .alert-text {
    display: block;
    text-align: center;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 15px;
  }

  .text-holder {
    text-align: center;
    color: #555;
    font-size: 12px;
    line-height: 22px;

    a {
      color: #555;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .social-area {
    padding-left: 219px;

    @media (max-width: 1199.98px) {
      padding-left: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
    }
  }
}

.social-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;

  @media (max-width: 359.98px) {
     align-items: center; 
  }

  .title {
    color: #999;

    @media (max-width: 359.98px) {
     font-size: 11px;
     line-height: 13px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-family: $oswald-font;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;

    li {
      position: relative;
      padding: 0 10px;

      &:before {
        position: absolute;
        left: 0;
        top: 2px;
        bottom: 4px;
        content: '';
        width: 2px;
        background: #fff;

        @media (max-width: 359.98px) {
          left: -2px;
          bottom: 2px;
        }
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    a {
      color: #fff;

      &:hover {
        color: #beb9b9;
      }
    }
  }
}

.tagline {
  &.add {
    background: #ffb017;
    color: #666;

    .description {
      margin: 0 10px 0 0;
      letter-spacing: 0;

      @media (max-width: 1199.98px) {
        margin: 0 0 30px;
      }
    }

    .btn-primary {
      background: #780b14;
      border-color: #780b14;

      &:hover {
        background: #fff;
        border-color: #fff;
      }
    }
  }
}

.radio-holder {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  @include media-breakpoint-down(sm) {
    margin: 0 -5px;
  }

  label {
    display: block;
    margin: 0 10px;

    @include media-breakpoint-down(sm) {
      margin: 0 5px;
    }
  }

  .label-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 50px;
    border: 1px solid #616161;
    background: #222;
    color: #5f5f5f;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      background: #780b14;
      color: #f2e7e8;
      border-color: #780b14;
    }
  }

  input[type="radio"] {
    position:fixed;
    left:0;
    top:0;
    opacity:0;
    z-index: -1;
  }

  input[type="radio"]:checked + .label-text {
    background: #780b14;
    color: #f2e7e8;
    border-color: #780b14;
  }
}