/** @define header **/
/* stylelint-disable */
.header {
  padding: 11px 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;

  .info {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;

    @include media-breakpoint-down(md) {
      position: absolute;
      right: 0;
      top: 3px;
    }

    a {
      color: #fff;

      &:hover {
        color: #beb9b9;
      }
    }

    .cart {
      margin-left: 15px;
    }
  }
}

.header-holder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 61px;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}

.logo-urban {
  position: relative;
  width: 353px;
  margin-top: 52px;

  @include media-breakpoint-down(md) {
    width: 240px;
    margin-top: 40px;
  }

  img {
    @include img-style;
  }
}



.logo {
  display: block;
  width: 118px;

  @include media-breakpoint-down(md) {
    display: none;
  }
  
  a {
    display: block;
  }
  img {
    @include img-style;
  }
}

.lang-holder {
  .lang-opener {
    display: block;
    position: relative;
    padding-right: 15px;

    &:before {
      position: absolute;
      right: 0;
      top: -3px;
      font-family: 'icomoon' !important;
      content: "\e902";
      font-size: 22px;
      line-height: 1;
      transition: all 0.4s ease;
    }
  }

  &.active {
    .lang-opener {
      &:before {
        transform: rotate(-180deg);
      }
    }
  }

  .slide {
    position: absolute;
    right: 25px;
    width: 200px;
    background: #141414;
    top: 30px;
  }

  .lang-list {
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    margin: 0;

    li {
      border-bottom: 1px solid #000;
    }

    a {
      display: block;
      padding: 10px 25px;

      &:hover {
        background: #444;
      }
    }
  }
}