/** @define header **/
/* stylelint-disable */
.header {
  padding: 48px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.4s ease;

  @include media-breakpoint-down(md) {
    padding: 22px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 10px 0 0;
  }

  .explore-active & {
    background: $black;
  }

  .container {
    position: relative;

    @include media-breakpoint-down(sm) {
      min-height: 60px;
    }
  }
}

body:not(.home) {
  .logo {
    display: block;
  }
}

.logo {
  display: none;
  width: 251px;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  top: 0;

   @include media-breakpoint-down(lg) {
    width: 200px;
  }

  @include media-breakpoint-down(md) {
    width: 145px;
    margin-left: -72px;
  }

  @include media-breakpoint-down(sm) {
    width: 140px;
    margin-left: -70px;
    top: 10px;
  }

  a {
    display: block;
  }

  img {
    @include img-style;
  }
}

.btn-explore {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 20px;
  line-height: 27px;
  border: 1px solid #fff;
  padding: 5px 20px;
  font-family: $khand-font;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 0;
  background: none;
  color: $white;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    padding: 5px 15px;
  }

  @include media-breakpoint-down(sm) {
    padding: 5px 10px; 
    font-size: 0;
    border: none;
    top: 8px;
  }

  &:hover,
  &:focus,
  &:active {
    background: $yellow;
    border-color: $yellow;
    color: $black;
    outline: none !important;
    box-shadow: none !important;

    @include media-breakpoint-down(sm) {
      background: none !important;
      color: $yellow;
    }
  }

  .icon {
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    margin-right: 1px;

    @include media-breakpoint-down(md) {
      font-size: 13px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }  
}