// custom variables and override bootstrap variables
$gray: #999;
$white: #fff;
$black: #161515;
$gray2: #f6f6f6;
$gray3: #363636;
$base-min-width: 320px;
// This is the default html and body font-size for the base rem value.
$theme-colors: (
  primary: #f1764b,
  secondary: #f7941d,
);
$grid-breakpoints: (
  xs: 0, 
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1176px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1176px
);


$yellow: #f5d300;


$arial-font: 'Arial', 'Helvetica', sans-serif;
$palanquin-font: 'palanquin', $arial-font;
$khand-font: 'khand', $arial-font;
$link-hover-decoration: none;
$font-family-base: $palanquin-font;
$btn-transition: all 0.4s ease;
$headings-font-family: $khand-font;
$headings-font-weight: 700;
$h1-font-size: 71px;
$h2-font-size: 40px;
$h3-font-size: 33px;
